
/* shared styles */
.display-flex{
    display: flex;
    align-items: center;
}

/* navber related style */
.navber{
  width: 1140px;
  height: 71px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
}
.logo{height:82px;
    width: 135px;
    object-fit: contain;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.nav-links{
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.bold{
    font-weight: 700;
    color: #252432;
}
.regular{
    font-weight: 400;
    color: #8987A1;
}
.cart{
    gap: 8px;
    font-size: 16px;
}
.menu-cart{
    gap: 30px;
}
  .background-color{background-color:#ffffff ;
    padding: 0 22px ;}

/* banner section */
.banner-item {
  width: 1140px;
  height: 461px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 120px;
  margin: auto;
  background-color: #ffffff;
}

.banner-text {
  width: 570px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.banner-title {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 48px;
  color: #252432;
  line-height: 1.2;
  margin-top: 162px;
}


.banner-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#000000;
  line-height: 1.6;
  margin-bottom: 0;
 font-family: 'Inter', sans-serif;
}

.banner-img img {
  width: 570px;
  height: 355px;
  object-fit: cover;
  margin-top: 106px; display: block;
}


.banner-item > div:first-child {
  flex: 1;
  min-width: 300px;
}
.banner-title{ font-family: 'Noto Serif', serif;}
.highlit-text{
     color: #E95A08;;
}

/*our plants section */
.plants {
  width: 1140px;
  height: 1186px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
}
.our-plants-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.our-plants-title{
  font-family: 'Noto Serif', serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.highlit-text {
  color: #E95A08;
}

.plants-description {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color:#000000;
  font-weight: 400;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px 5px;
  width: 1140px;
  height: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flower {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #000000;
  font-family: 'Inter', sans-serif;
}
.flower img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;

}
.flower h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.flower p {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #E95A08;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
/* plants lover section  */
.plants-lover-section {
  width: 1140px;
  height: 597px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 210px auto 0 auto ;
  position: relative;
}

.plants-lover-container {
  width: 540px;
  height: 597px;
  position: relative;
}

.flower-store-img {
  width: 540px;
  height: 597px;
  object-fit: cover;
  display: block;
}

.trusted-badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -110px; 
  right: -100px;
}

.plants-content {
  flex: 1;
  max-width: 540px;
  max-height: 521px;
  margin-top: 38px;
}

.plants-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 24px;
  font-family: 'Noto Serif', serif;
}

.plants-list-contant {
  padding: 0;
  margin: 0;
  gap: 60px;
}

.list-item {
  position: relative;
  padding-left: 24px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}

/* responsive media */
@media screen and (max-width:400px){
    .navber{width: 361px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        align-items: center;
        margin: 0;
        gap: auto;
    }
    .nav-links{display: none;}
    .logo{width: 63px;
    height:38px;margin-left: 16px;
}
    .cart{width: 113px;
    height: 24px; gap: auto; padding: 0;} 
/* banner section */
  .banner-item {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 361px;
    padding: 0;
    margin: 0 auto;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    margin: 0; 
  }
  .banner-text {
    width: 361px;
    height: 147px;
    margin: 10px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left; 
    gap: 10px;
  }

  .banner-title {
    font-size: 22px;
    text-align:left;
    margin-top: 40px;
  }
  .banner-title,
  .banner-img img {
    margin-top: 0;
  }
    .container {width: 362px;
    height: 320px;
    grid-template-columns:repeat(2,1fr)
}
/* our plant section  */ 
  .our-plants-title{ max-width: 393px;
    width: 100%;
    height: auto; 
    margin: 0 auto 12px;
    font-size: 28px; 
  }
  .plants-description {max-width: 393px;
    width: 100%;
    height: 117px;
    margin: 0 auto 32px;
    font-size: 16px;
    line-height: 1.4;
  }
  .plants {
    width: 100%;
    padding: 20px;}

  /* plants lover section */
  .plants-lover-section {
    flex-direction: column;
    width: 100%;
    max-width: 361px;
    height: 641px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
  }
  .plants-lover-container {
    width: 358px;
    height: 396px;
    margin-top: 60px; 
  }
  .flower-store-img {
    width: 358px;
    height: 396px;
    object-fit: cover;
    display: block;
  }
  .trusted-badge {
    display: none;
  }
  .plants-content {
    width: 361px;
    height: 234px;
    margin: 0;
    padding: 0 ;
  }

  .plants-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .list-item {
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
    margin: 0;
  }
}






 
  





